ID_1	 ID_2 	missing
0	0	0
AlpineRusset	AlpineRusset	2
BeaconChipper	BeaconChipper	1
BlazerRusset	BlazerRusset	0
CentennialRusset	CentennialRusset	0
Chieftain	Chieftain	0
Chipeta	Chipeta	0
Chippewa	Chippewa	0
ClassicRusset	ClassicRusset	0
ClearwaterRusset	ClearwaterRusset	0
DakotaCrisp	DakotaCrisp	1
DakotaDiamond	DakotaDiamond	2
DakotaJewel	DakotaJewel	0
DarkRedNorland	DarkRedNorland	2
Defender	Defender	0
Denali	Denali	0
Eramosa	Eramosa	0
Eva	Eva	0
FreedomRusset	FreedomRusset	1
GarnetChile	GarnetChile	2
GemStarRusset	GemStarRusset	2
Katahdin	Katahdin	0
Kennebec	Kennebec	0
KeukaGold	KeukaGold	0
KlamathRusset	KlamathRusset	2
Langlade	Langlade	0
Lehigh	Lehigh	1
Lelah	Lelah	3
Liberator	Liberator	0
MaineChip	MaineChip	1
Marcy	Marcy	0
MichiganPurple	MichiganPurple	1
Monona	Monona	0
Monticello	Monticello	3
Nicolet	Nicolet	1
Norchip	Norchip	0
Northstar	Northstar	1
NorValley	NorValley	0
Norwis	Norwis	0
Ontario	Ontario	0
PeterWilcox	PeterWilcox	4
Pike	Pike	3
PrinceHairy	PrinceHairy	0
PurplePeruvian	PurplePeruvian	3
RangerRusset	RangerRusset	2
Reba	Reba	0
ReevesKingpin	ReevesKingpin	0
Rideau	Rideau	2
Salem	Salem	4
SierraGold	SierraGold	0
SilvertonRusset	SilvertonRusset	1
Snowden	Snowden	0
UmatillaRusset	UmatillaRusset	3
VillettaRose	VillettaRose	1
WallowaRusset	WallowaRusset	1
WesternRusset	WesternRusset	0
WhitePearl	WhitePearl	1
Willamette	Willamette	0
YukonGem	YukonGem	1
YukonGold	YukonGold	3
ACBrador	ACBrador	0
AdirondackBlue	AdirondackBlue	2
Alturas	Alturas	1
BannockRusset	BannockRusset	0
Boulder	Boulder	3
Cascade	Cascade	1
DakotaPearl	DakotaPearl	1
EarlyRose	EarlyRose	0
Elba	Elba	3
Exploits	Exploits	1
GreenMountain	GreenMountain	0
IdaRose	IdaRose	0
IncaGold	IncaGold	2
JacquelineLee	JacquelineLee	2
MegaChip	MegaChip	3
MountainRose	MountainRose	0
Missaukee	Missaukee	1
NorDonna	NorDonna	1
KingHarry	KingHarry	3
Waneta	Waneta	4
PurpleMajesty	PurpleMajesty	0
RochdaleGold-Doree	RochdaleGold-Doree	1
TrailBlazerRusset	TrailBlazerRusset	0
Rosa	Rosa	1
Sebago	Sebago	0
Tundra	Tundra	1
Andover	Andover	0
CanelaRusset	CanelaRusset	0
GrandFalls	GrandFalls	1
HighlandRusset	HighlandRusset	1
IvoryCrisp	IvoryCrisp	0
LaChipper	LaChipper	0
Modoc	Modoc	2
Kalkaska	Kalkaska	1
RedMaria	RedMaria	0
Lamoka	Lamoka	1
Winema	Winema	1
YankeeChipper	YankeeChipper	1
RussetBurbank	RussetBurbank	0
Atlantic	Atlantic	0
Superior	Superior	0
RioGrandeRusset	RioGrandeRusset	0
PremierRusset	PremierRusset	0
Wauseon	Wauseon	0
Lenape	Lenape	0
