ID_1	 ID_2 	missing
0	0	0
AlpineRusset	AlpineRusset	0
BeaconChipper	BeaconChipper	0
BlazerRusset	BlazerRusset	0
CentennialRusset	CentennialRusset	1
Chieftain	Chieftain	4
Chipeta	Chipeta	0
Chippewa	Chippewa	0
ClassicRusset	ClassicRusset	0
ClearwaterRusset	ClearwaterRusset	0
DakotaCrisp	DakotaCrisp	0
DakotaDiamond	DakotaDiamond	0
DakotaJewel	DakotaJewel	6
DarkRedNorland	DarkRedNorland	0
Defender	Defender	0
Denali	Denali	0
Eramosa	Eramosa	0
Eva	Eva	1
FreedomRusset	FreedomRusset	0
GarnetChile	GarnetChile	0
GemStarRusset	GemStarRusset	0
Katahdin	Katahdin	0
Kennebec	Kennebec	0
KeukaGold	KeukaGold	0
KlamathRusset	KlamathRusset	0
Langlade	Langlade	0
Lehigh	Lehigh	0
Lelah	Lelah	6
Liberator	Liberator	1
MaineChip	MaineChip	0
Marcy	Marcy	1
MichiganPurple	MichiganPurple	0
Monona	Monona	0
Monticello	Monticello	0
Nicolet	Nicolet	3
Norchip	Norchip	0
Northstar	Northstar	0
NorValley	NorValley	0
Norwis	Norwis	0
Ontario	Ontario	0
PeterWilcox	PeterWilcox	4
Pike	Pike	2
PrinceHairy	PrinceHairy	2
PurplePeruvian	PurplePeruvian	9
RangerRusset	RangerRusset	8
Reba	Reba	2
ReevesKingpin	ReevesKingpin	0
Rideau	Rideau	1
Salem	Salem	1
SierraGold	SierraGold	0
SilvertonRusset	SilvertonRusset	0
Snowden	Snowden	1
UmatillaRusset	UmatillaRusset	0
VillettaRose	VillettaRose	0
WallowaRusset	WallowaRusset	0
WesternRusset	WesternRusset	0
WhitePearl	WhitePearl	1
Willamette	Willamette	1
YukonGem	YukonGem	1
YukonGold	YukonGold	0
ACBrador	ACBrador	0
AdirondackBlue	AdirondackBlue	0
Alturas	Alturas	0
BannockRusset	BannockRusset	0
Boulder	Boulder	0
Cascade	Cascade	0
DakotaPearl	DakotaPearl	1
EarlyRose	EarlyRose	0
Elba	Elba	1
Exploits	Exploits	1
GreenMountain	GreenMountain	1
IdaRose	IdaRose	1
IncaGold	IncaGold	2
JacquelineLee	JacquelineLee	1
MegaChip	MegaChip	0
MountainRose	MountainRose	0
Missaukee	Missaukee	0
NorDonna	NorDonna	0
KingHarry	KingHarry	3
Waneta	Waneta	5
PurpleMajesty	PurpleMajesty	0
RochdaleGold-Doree	RochdaleGold-Doree	1
TrailBlazerRusset	TrailBlazerRusset	0
Rosa	Rosa	1
Sebago	Sebago	0
Tundra	Tundra	0
Andover	Andover	3
CanelaRusset	CanelaRusset	1
GrandFalls	GrandFalls	0
HighlandRusset	HighlandRusset	0
IvoryCrisp	IvoryCrisp	0
LaChipper	LaChipper	0
Modoc	Modoc	3
Kalkaska	Kalkaska	0
RedMaria	RedMaria	1
Lamoka	Lamoka	0
Winema	Winema	0
YankeeChipper	YankeeChipper	0
RussetBurbank	RussetBurbank	3
Atlantic	Atlantic	0
Superior	Superior	0
RioGrandeRusset	RioGrandeRusset	0
PremierRusset	PremierRusset	0
Wauseon	Wauseon	0
Lenape	Lenape	0
