ID_1	 ID_2 	missing
0	0	0
AlpineRusset	AlpineRusset	4
BeaconChipper	BeaconChipper	0
BlazerRusset	BlazerRusset	0
CentennialRusset	CentennialRusset	0
Chieftain	Chieftain	0
Chipeta	Chipeta	0
Chippewa	Chippewa	0
ClassicRusset	ClassicRusset	0
ClearwaterRusset	ClearwaterRusset	0
DakotaCrisp	DakotaCrisp	1
DakotaDiamond	DakotaDiamond	2
DakotaJewel	DakotaJewel	0
DarkRedNorland	DarkRedNorland	1
Defender	Defender	0
Denali	Denali	0
Eramosa	Eramosa	1
Eva	Eva	3
FreedomRusset	FreedomRusset	0
GarnetChile	GarnetChile	0
GemStarRusset	GemStarRusset	1
Katahdin	Katahdin	1
Kennebec	Kennebec	0
KeukaGold	KeukaGold	0
KlamathRusset	KlamathRusset	2
Langlade	Langlade	0
Lehigh	Lehigh	0
Lelah	Lelah	2
Liberator	Liberator	0
MaineChip	MaineChip	1
Marcy	Marcy	1
MichiganPurple	MichiganPurple	0
Monona	Monona	2
Monticello	Monticello	1
Nicolet	Nicolet	0
Norchip	Norchip	0
Northstar	Northstar	6
NorValley	NorValley	3
Norwis	Norwis	1
Ontario	Ontario	0
PeterWilcox	PeterWilcox	2
Pike	Pike	0
PrinceHairy	PrinceHairy	1
PurplePeruvian	PurplePeruvian	1
RangerRusset	RangerRusset	1
Reba	Reba	0
ReevesKingpin	ReevesKingpin	2
Rideau	Rideau	4
Salem	Salem	2
SierraGold	SierraGold	0
SilvertonRusset	SilvertonRusset	0
Snowden	Snowden	0
UmatillaRusset	UmatillaRusset	0
VillettaRose	VillettaRose	4
WallowaRusset	WallowaRusset	0
WesternRusset	WesternRusset	3
WhitePearl	WhitePearl	0
Willamette	Willamette	1
YukonGem	YukonGem	0
YukonGold	YukonGold	0
ACBrador	ACBrador	1
AdirondackBlue	AdirondackBlue	0
Alturas	Alturas	0
BannockRusset	BannockRusset	1
Boulder	Boulder	5
Cascade	Cascade	0
DakotaPearl	DakotaPearl	1
EarlyRose	EarlyRose	0
Elba	Elba	0
Exploits	Exploits	0
GreenMountain	GreenMountain	0
IdaRose	IdaRose	0
IncaGold	IncaGold	1
JacquelineLee	JacquelineLee	2
MegaChip	MegaChip	0
MountainRose	MountainRose	0
Missaukee	Missaukee	0
NorDonna	NorDonna	4
KingHarry	KingHarry	0
Waneta	Waneta	2
PurpleMajesty	PurpleMajesty	0
RochdaleGold-Doree	RochdaleGold-Doree	0
TrailBlazerRusset	TrailBlazerRusset	1
Rosa	Rosa	2
Sebago	Sebago	0
Tundra	Tundra	2
Andover	Andover	0
CanelaRusset	CanelaRusset	2
GrandFalls	GrandFalls	0
HighlandRusset	HighlandRusset	0
IvoryCrisp	IvoryCrisp	3
LaChipper	LaChipper	0
Modoc	Modoc	3
Kalkaska	Kalkaska	0
RedMaria	RedMaria	4
Lamoka	Lamoka	0
Winema	Winema	0
YankeeChipper	YankeeChipper	0
RussetBurbank	RussetBurbank	0
Atlantic	Atlantic	0
Superior	Superior	0
RioGrandeRusset	RioGrandeRusset	0
PremierRusset	PremierRusset	0
Wauseon	Wauseon	0
Lenape	Lenape	0
