ID_1	 ID_2 	missing
0	0	0
Norin1 Norin1 0
Eniwa Eniwa 1
Yukijiro Yukijiro 8
Chijiwa Chijiwa 0
Hokkai-aka Hokkai-aka 10
Shiretoko Shiretoko 0
Bihoro Bihoro 0
Tarumae Tarumae 0
Dejima Dejima 0
Waseshiro Waseshiro 1
Toyoshiro Toyoshiro 1
Norin2 Norin2 0
Setoyutaka Setoyutaka 10
Hatsufubuki Hatsufubuki 0
Hokkaikogane Hokkaikogane 0
Konafubuki Konafubuki 0
Toyo-akari Toyo-akari 0
Meihou Meihou 0
Kita-akari Kita-akari 0
Ezo-akari Ezo-akari 0
Touya Touya 0
Chitose Chitose 9
Musamaru Musamaru 0
Beni-akari Beni-akari 0
Sakurafubuki Sakurafubuki 0
Aino-aka Aino-aka 0
Sayaka Sayaka 1
EarlyStarch EarlyStarch 0
Hanashibetsu Hanashibetsu 0
Fugenmaru Fugenmaru 0
StarQueen StarQueen 1
Tokachikogane Tokachikogane 0
Oojiro Oojiro 0
Yukirasha Yukirasha 0
Haru-akari Haru-akari 0
InkaPurple InkaPurple 7
InkaRed InkaRed 2
Natsufubuki Natsufubuki 0
Aiyutaka Aiyutaka 1
StarRuby StarRuby 0
Kitamurasaki Kitamurasaki 0
SnowMarch SnowMarch 0
Unzen Unzen 0
Okhotsk-chip Okhotsk-chip 1
Ranran-chip Ranran-chip 0
Yukitsubura Yukitsubura 0
Koganemaru Koganemaru 1
NorthernRuby NorthernRuby 0
ShadowQueen ShadowQueen 0
Saya-akane Saya-akane 0
Haruka Haruka 0
Konayuki Konayuki 0
Tachibana Tachibana 0
Piruka Piruka 0
Hikaru Hikaru 0
Kitakamui Kitakamui 0
RedMoon RedMoon 0
WhiteFlyer WhiteFlyer 1
NorthChip NorthChip 0
Kitahime Kitahime 2
TokachiPirika TokachiPirika 5
Yoraku Yoraku 0
Benimaru Benimaru 0
Inca-no-hoshi Inca-no-hoshi 2
Hokkai50 Hokkai50 0
Saikai35 Saikai35 1
Bifukeni Bifukabeni 1
Nemuromurasaki Nemuromurasaki 1
Myojo Myojo 0
DragonRed DragonRed 2
Rishiri Rishiri 4
LilasChip LilasChip 1
Kintoki-imo Kintoki-imo 5
Kobo-imo Kobo-imo 0
Seinaiji-ki-imo Seinaiji-ki-imo 0
Shizuki Shizuki 0
Konahime Konahime 1
PearlStarch PearlStarch 1
Poroshiri Poroshiri 1
Shimara Shimabara 7
Akanekaze Akanekaze 0
Kitamusashi Kitamusashi 0
Konayutaka Konayutaka 1
Sanjyumaru Sanjyumaru 1
10H17 10H17 0
Harimaru Harimaru 0
NagasakiKogane NagasakiKogane 2
