ID_1	 ID_2 	missing
0	0	0
Norin1 Norin1 0
Eniwa Eniwa 4
Yukijiro Yukijiro 0
Chijiwa Chijiwa 0
Hokkai-aka Hokkai-aka 6
Shiretoko Shiretoko 1
Bihoro Bihoro 2
Tarumae Tarumae 0
Dejima Dejima 0
Waseshiro Waseshiro 0
Toyoshiro Toyoshiro 1
Norin2 Norin2 4
Setoyutaka Setoyutaka 0
Hatsufubuki Hatsufubuki 0
Hokkaikogane Hokkaikogane 0
Konafubuki Konafubuki 0
Toyo-akari Toyo-akari 1
Meihou Meihou 1
Kita-akari Kita-akari 0
Ezo-akari Ezo-akari 2
Touya Touya 3
Chitose Chitose 0
Musamaru Musamaru 0
Beni-akari Beni-akari 1
Sakurafubuki Sakurafubuki 1
Aino-aka Aino-aka 0
Sayaka Sayaka 0
EarlyStarch EarlyStarch 4
Hanashibetsu Hanashibetsu 0
Fugenmaru Fugenmaru 2
StarQueen StarQueen 0
Tokachikogane Tokachikogane 0
Oojiro Oojiro 0
Yukirasha Yukirasha 0
Haru-akari Haru-akari 0
InkaPurple InkaPurple 1
InkaRed InkaRed 1
Natsufubuki Natsufubuki 0
Aiyutaka Aiyutaka 3
StarRuby StarRuby 2
Kitamurasaki Kitamurasaki 2
SnowMarch SnowMarch 0
Unzen Unzen 0
Okhotsk-chip Okhotsk-chip 0
Ranran-chip Ranran-chip 2
Yukitsubura Yukitsubura 0
Koganemaru Koganemaru 0
NorthernRuby NorthernRuby 1
ShadowQueen ShadowQueen 0
Saya-akane Saya-akane 0
Haruka Haruka 0
Konayuki Konayuki 1
Tachibana Tachibana 1
Piruka Piruka 1
Hikaru Hikaru 1
Kitakamui Kitakamui 0
RedMoon RedMoon 2
WhiteFlyer WhiteFlyer 0
NorthChip NorthChip 2
Kitahime Kitahime 0
TokachiPirika TokachiPirika 1
Yoraku Yoraku 0
Benimaru Benimaru 0
Inca-no-hoshi Inca-no-hoshi 2
Hokkai50 Hokkai50 0
Saikai35 Saikai35 1
Bifukeni Bifukabeni 0
Nemuromurasaki Nemuromurasaki 0
Myojo Myojo 1
DragonRed DragonRed 3
Rishiri Rishiri 0
LilasChip LilasChip 0
Kintoki-imo Kintoki-imo 1
Kobo-imo Kobo-imo 4
Seinaiji-ki-imo Seinaiji-ki-imo 4
Shizuki Shizuki 1
Konahime Konahime 1
PearlStarch PearlStarch 0
Poroshiri Poroshiri 0
Shimara Shimabara 1
Akanekaze Akanekaze 0
Kitamusashi Kitamusashi 0
Konayutaka Konayutaka 2
Sanjyumaru Sanjyumaru 0
10H17 10H17 0
Harimaru Harimaru 1
NagasakiKogane NagasakiKogane 2
