ID_1	 ID_2 	missing
0	0	0
Norin1 Norin1 0
Eniwa Eniwa 1
Yukijiro Yukijiro 1
Chijiwa Chijiwa 0
Hokkai-aka Hokkai-aka 2
Shiretoko Shiretoko 2
Bihoro Bihoro 0
Tarumae Tarumae 0
Dejima Dejima 0
Waseshiro Waseshiro 0
Toyoshiro Toyoshiro 0
Norin2 Norin2 0
Setoyutaka Setoyutaka 0
Hatsufubuki Hatsufubuki 1
Hokkaikogane Hokkaikogane 0
Konafubuki Konafubuki 0
Toyo-akari Toyo-akari 1
Meihou Meihou 0
Kita-akari Kita-akari 0
Ezo-akari Ezo-akari 0
Touya Touya 0
Chitose Chitose 5
Musamaru Musamaru 0
Beni-akari Beni-akari 0
Sakurafubuki Sakurafubuki 0
Aino-aka Aino-aka 1
Sayaka Sayaka 0
EarlyStarch EarlyStarch 0
Hanashibetsu Hanashibetsu 0
Fugenmaru Fugenmaru 0
StarQueen StarQueen 1
Tokachikogane Tokachikogane 0
Oojiro Oojiro 0
Yukirasha Yukirasha 2
Haru-akari Haru-akari 1
InkaPurple InkaPurple 4
InkaRed InkaRed 0
Natsufubuki Natsufubuki 3
Aiyutaka Aiyutaka 1
StarRuby StarRuby 0
Kitamurasaki Kitamurasaki 0
SnowMarch SnowMarch 3
Unzen Unzen 0
Okhotsk-chip Okhotsk-chip 0
Ranran-chip Ranran-chip 0
Yukitsubura Yukitsubura 0
Koganemaru Koganemaru 0
NorthernRuby NorthernRuby 0
ShadowQueen ShadowQueen 0
Saya-akane Saya-akane 0
Haruka Haruka 0
Konayuki Konayuki 2
Tachibana Tachibana 0
Piruka Piruka 0
Hikaru Hikaru 1
Kitakamui Kitakamui 0
RedMoon RedMoon 0
WhiteFlyer WhiteFlyer 0
NorthChip NorthChip 0
Kitahime Kitahime 0
TokachiPirika TokachiPirika 0
Yoraku Yoraku 0
Benimaru Benimaru 0
Inca-no-hoshi Inca-no-hoshi 4
Hokkai50 Hokkai50 2
Saikai35 Saikai35 0
Bifukeni Bifukabeni 4
Nemuromurasaki Nemuromurasaki 0
Myojo Myojo 1
DragonRed DragonRed 1
Rishiri Rishiri 0
LilasChip LilasChip 0
Kintoki-imo Kintoki-imo 0
Kobo-imo Kobo-imo 0
Seinaiji-ki-imo Seinaiji-ki-imo 1
Shizuki Shizuki 0
Konahime Konahime 0
PearlStarch PearlStarch 0
Poroshiri Poroshiri 0
Shimara Shimabara 0
Akanekaze Akanekaze 0
Kitamusashi Kitamusashi 4
Konayutaka Konayutaka 1
Sanjyumaru Sanjyumaru 0
10H17 10H17 1
Harimaru Harimaru 1
NagasakiKogane NagasakiKogane 2
