ID_1	 ID_2 	missing
0	0	0
Norin1 Norin1 0
Eniwa Eniwa 0
Yukijiro Yukijiro 0
Chijiwa Chijiwa 2
Hokkai-aka Hokkai-aka 0
Shiretoko Shiretoko 2
Bihoro Bihoro 0
Tarumae Tarumae 0
Dejima Dejima 0
Waseshiro Waseshiro 0
Toyoshiro Toyoshiro 0
Norin2 Norin2 0
Setoyutaka Setoyutaka 1
Hatsufubuki Hatsufubuki 1
Hokkaikogane Hokkaikogane 1
Konafubuki Konafubuki 0
Toyo-akari Toyo-akari 1
Meihou Meihou 0
Kita-akari Kita-akari 0
Ezo-akari Ezo-akari 0
Touya Touya 0
Chitose Chitose 1
Musamaru Musamaru 0
Beni-akari Beni-akari 1
Sakurafubuki Sakurafubuki 0
Aino-aka Aino-aka 0
Sayaka Sayaka 0
EarlyStarch EarlyStarch 0
Hanashibetsu Hanashibetsu 0
Fugenmaru Fugenmaru 2
StarQueen StarQueen 0
Tokachikogane Tokachikogane 1
Oojiro Oojiro 1
Yukirasha Yukirasha 0
Haru-akari Haru-akari 0
InkaPurple InkaPurple 1
InkaRed InkaRed 0
Natsufubuki Natsufubuki 0
Aiyutaka Aiyutaka 0
StarRuby StarRuby 0
Kitamurasaki Kitamurasaki 1
SnowMarch SnowMarch 0
Unzen Unzen 0
Okhotsk-chip Okhotsk-chip 0
Ranran-chip Ranran-chip 0
Yukitsubura Yukitsubura 0
Koganemaru Koganemaru 0
NorthernRuby NorthernRuby 0
ShadowQueen ShadowQueen 0
Saya-akane Saya-akane 0
Haruka Haruka 0
Konayuki Konayuki 1
Tachibana Tachibana 0
Piruka Piruka 0
Hikaru Hikaru 0
Kitakamui Kitakamui 0
RedMoon RedMoon 1
WhiteFlyer WhiteFlyer 0
NorthChip NorthChip 0
Kitahime Kitahime 0
TokachiPirika TokachiPirika 0
Yoraku Yoraku 1
Benimaru Benimaru 0
Inca-no-hoshi Inca-no-hoshi 0
Hokkai50 Hokkai50 2
Saikai35 Saikai35 0
Bifukeni Bifukabeni 0
Nemuromurasaki Nemuromurasaki 0
Myojo Myojo 0
DragonRed DragonRed 0
Rishiri Rishiri 0
LilasChip LilasChip 0
Kintoki-imo Kintoki-imo 1
Kobo-imo Kobo-imo 0
Seinaiji-ki-imo Seinaiji-ki-imo 0
Shizuki Shizuki 0
Konahime Konahime 0
PearlStarch PearlStarch 1
Poroshiri Poroshiri 0
Shimara Shimabara 0
Akanekaze Akanekaze 3
Kitamusashi Kitamusashi 1
Konayutaka Konayutaka 1
Sanjyumaru Sanjyumaru 0
10H17 10H17 0
Harimaru Harimaru 1
NagasakiKogane NagasakiKogane 0
