ID_1	 ID_2 	missing
0	0	0
AlpineRusset AlpineRusset 0
BeaconChipper BeaconChipper 0
BlazerRusset BlazerRusset 0
CentennialRusset CentennialRusset 0
Chieftain Chieftain 0
Chipeta Chipeta 0
Chippewa Chippewa 0
ClassicRusset ClassicRusset 0
ClearwaterRusset ClearwaterRusset 0
DakotaCrisp DakotaCrisp 3
DakotaDiamond DakotaDiamond 1
DakotaJewel DakotaJewel 0
DarkRedNorland DarkRedNorland 1
Defender Defender 0
Denali Denali 0
Eramosa Eramosa 0
Eva Eva 0
FreedomRusset FreedomRusset 0
GarnetChile GarnetChile 0
GemStarRusset GemStarRusset 0
Katahdin Katahdin 0
Kennebec Kennebec 0
KeukaGold KeukaGold 0
KlamathRusset KlamathRusset 0
Langlade Langlade 0
Lehigh Lehigh 0
Lelah Lelah 0
Liberator Liberator 0
MaineChip MaineChip 4
Marcy Marcy 0
MichiganPurple MichiganPurple 0
Monona Monona 0
Monticello Monticello 0
Nicolet Nicolet 0
Norchip Norchip 0
Northstar Northstar 0
NorValley NorValley 0
Norwis Norwis 0
Ontario Ontario 0
PeterWilcox PeterWilcox 2
Pike Pike 0
PrinceHairy PrinceHairy 1
PurplePeruvian PurplePeruvian 3
RangerRusset RangerRusset 0
Reba Reba 0
ReevesKingpin ReevesKingpin 0
Rideau Rideau 1
Salem Salem 0
SierraGold SierraGold 0
SilvertonRusset SilvertonRusset 0
Snowden Snowden 0
UmatillaRusset UmatillaRusset 1
VillettaRose VillettaRose 1
WallowaRusset WallowaRusset 0
WesternRusset WesternRusset 0
WhitePearl WhitePearl 1
Willamette Willamette 0
YukonGem YukonGem 0
YukonGold YukonGold 0
ACBrador ACBrador 0
AdirondackBlue AdirondackBlue 0
Alturas Alturas 0
BannockRusset BannockRusset 0
Boulder Boulder 0
Cascade Cascade 0
DakotaPearl DakotaPearl 6
EarlyRose EarlyRose 0
Elba Elba 0
Exploits Exploits 0
GreenMountain GreenMountain 0
IdaRose IdaRose 0
IncaGold IncaGold 0
JacquelineLee JacquelineLee 0
MegaChip MegaChip 0
MountainRose MountainRose 0
Missaukee Missaukee 0
NorDonna NorDonna 0
KingHarry KingHarry 0
Waneta Waneta 2
PurpleMajesty PurpleMajesty 0
RochdaleGold-Doree RochdaleGold-Doree 0
TrailBlazerRusset TrailBlazerRusset 4
Rosa Rosa 0
Sebago Sebago 0
Tundra Tundra 0
Andover Andover 0
CanelaRusset CanelaRusset 0
GrandFalls GrandFalls 1
HighlandRusset HighlandRusset 0
IvoryCrisp IvoryCrisp 0
LaChipper LaChipper 0
Modoc Modoc 3
Kalkaska Kalkaska 3
RedMaria RedMaria 0
Lamoka Lamoka 0
Winema Winema 0
YankeeChipper YankeeChipper 0
RussetBurbank RussetBurbank 4
Atlantic Atlantic 0
Superior Superior 0
RioGrandeRusset RioGrandeRusset 0
PremierRusset PremierRusset 0
Wauseon Wauseon 0
Lenape Lenape 0
