ID_1	 ID_2 	missing
0	0	0
AlpineRusset AlpineRusset 4
BeaconChipper BeaconChipper 2
BlazerRusset BlazerRusset 1
CentennialRusset CentennialRusset 0
Chieftain Chieftain 0
Chipeta Chipeta 0
Chippewa Chippewa 2
ClassicRusset ClassicRusset 1
ClearwaterRusset ClearwaterRusset 0
DakotaCrisp DakotaCrisp 0
DakotaDiamond DakotaDiamond 1
DakotaJewel DakotaJewel 1
DarkRedNorland DarkRedNorland 0
Defender Defender 0
Denali Denali 0
Eramosa Eramosa 0
Eva Eva 0
FreedomRusset FreedomRusset 2
GarnetChile GarnetChile 0
GemStarRusset GemStarRusset 0
Katahdin Katahdin 0
Kennebec Kennebec 0
KeukaGold KeukaGold 0
KlamathRusset KlamathRusset 0
Langlade Langlade 0
Lehigh Lehigh 0
Lelah Lelah 0
Liberator Liberator 1
MaineChip MaineChip 0
Marcy Marcy 0
MichiganPurple MichiganPurple 4
Monona Monona 3
Monticello Monticello 0
Nicolet Nicolet 0
Norchip Norchip 1
Northstar Northstar 1
NorValley NorValley 2
Norwis Norwis 0
Ontario Ontario 1
PeterWilcox PeterWilcox 1
Pike Pike 0
PrinceHairy PrinceHairy 3
PurplePeruvian PurplePeruvian 5
RangerRusset RangerRusset 0
Reba Reba 0
ReevesKingpin ReevesKingpin 15
Rideau Rideau 5
Salem Salem 0
SierraGold SierraGold 1
SilvertonRusset SilvertonRusset 0
Snowden Snowden 1
UmatillaRusset UmatillaRusset 0
VillettaRose VillettaRose 6
WallowaRusset WallowaRusset 0
WesternRusset WesternRusset 6
WhitePearl WhitePearl 0
Willamette Willamette 1
YukonGem YukonGem 1
YukonGold YukonGold 1
ACBrador ACBrador 0
AdirondackBlue AdirondackBlue 1
Alturas Alturas 1
BannockRusset BannockRusset 0
Boulder Boulder 3
Cascade Cascade 0
DakotaPearl DakotaPearl 2
EarlyRose EarlyRose 0
Elba Elba 2
Exploits Exploits 0
GreenMountain GreenMountain 0
IdaRose IdaRose 0
IncaGold IncaGold 1
JacquelineLee JacquelineLee 1
MegaChip MegaChip 0
MountainRose MountainRose 0
Missaukee Missaukee 3
NorDonna NorDonna 3
KingHarry KingHarry 1
Waneta Waneta 0
PurpleMajesty PurpleMajesty 1
RochdaleGold-Doree RochdaleGold-Doree 0
TrailBlazerRusset TrailBlazerRusset 0
Rosa Rosa 0
Sebago Sebago 1
Tundra Tundra 0
Andover Andover 10
CanelaRusset CanelaRusset 0
GrandFalls GrandFalls 0
HighlandRusset HighlandRusset 0
IvoryCrisp IvoryCrisp 1
LaChipper LaChipper 0
Modoc Modoc 1
Kalkaska Kalkaska 0
RedMaria RedMaria 1
Lamoka Lamoka 10
Winema Winema 0
YankeeChipper YankeeChipper 0
RussetBurbank RussetBurbank 1
Atlantic Atlantic 0
Superior Superior 0
RioGrandeRusset RioGrandeRusset 0
PremierRusset PremierRusset 0
Wauseon Wauseon 0
Lenape Lenape 0
