ID_1	 ID_2 	missing
0	0	0
AlpineRusset AlpineRusset 1
BeaconChipper BeaconChipper 0
BlazerRusset BlazerRusset 10
CentennialRusset CentennialRusset 0
Chieftain Chieftain 0
Chipeta Chipeta 2
Chippewa Chippewa 0
ClassicRusset ClassicRusset 0
ClearwaterRusset ClearwaterRusset 11
DakotaCrisp DakotaCrisp 0
DakotaDiamond DakotaDiamond 0
DakotaJewel DakotaJewel 0
DarkRedNorland DarkRedNorland 1
Defender Defender 0
Denali Denali 1
Eramosa Eramosa 0
Eva Eva 0
FreedomRusset FreedomRusset 0
GarnetChile GarnetChile 0
GemStarRusset GemStarRusset 4
Katahdin Katahdin 0
Kennebec Kennebec 1
KeukaGold KeukaGold 0
KlamathRusset KlamathRusset 0
Langlade Langlade 1
Lehigh Lehigh 1
Lelah Lelah 2
Liberator Liberator 0
MaineChip MaineChip 1
Marcy Marcy 0
MichiganPurple MichiganPurple 0
Monona Monona 1
Monticello Monticello 0
Nicolet Nicolet 0
Norchip Norchip 0
Northstar Northstar 2
NorValley NorValley 1
Norwis Norwis 0
Ontario Ontario 0
PeterWilcox PeterWilcox 0
Pike Pike 0
PrinceHairy PrinceHairy 0
PurplePeruvian PurplePeruvian 1
RangerRusset RangerRusset 1
Reba Reba 1
ReevesKingpin ReevesKingpin 1
Rideau Rideau 4
Salem Salem 4
SierraGold SierraGold 1
SilvertonRusset SilvertonRusset 0
Snowden Snowden 0
UmatillaRusset UmatillaRusset 1
VillettaRose VillettaRose 1
WallowaRusset WallowaRusset 1
WesternRusset WesternRusset 0
WhitePearl WhitePearl 3
Willamette Willamette 0
YukonGem YukonGem 0
YukonGold YukonGold 0
ACBrador ACBrador 0
AdirondackBlue AdirondackBlue 0
Alturas Alturas 0
BannockRusset BannockRusset 13
Boulder Boulder 0
Cascade Cascade 0
DakotaPearl DakotaPearl 0
EarlyRose EarlyRose 0
Elba Elba 0
Exploits Exploits 0
GreenMountain GreenMountain 0
IdaRose IdaRose 0
IncaGold IncaGold 1
JacquelineLee JacquelineLee 1
MegaChip MegaChip 0
MountainRose MountainRose 2
Missaukee Missaukee 1
NorDonna NorDonna 1
KingHarry KingHarry 2
Waneta Waneta 3
PurpleMajesty PurpleMajesty 0
RochdaleGold-Doree RochdaleGold-Doree 0
TrailBlazerRusset TrailBlazerRusset 1
Rosa Rosa 0
Sebago Sebago 0
Tundra Tundra 4
Andover Andover 0
CanelaRusset CanelaRusset 2
GrandFalls GrandFalls 0
HighlandRusset HighlandRusset 1
IvoryCrisp IvoryCrisp 0
LaChipper LaChipper 0
Modoc Modoc 1
Kalkaska Kalkaska 0
RedMaria RedMaria 0
Lamoka Lamoka 0
Winema Winema 8
YankeeChipper YankeeChipper 2
RussetBurbank RussetBurbank 0
Atlantic Atlantic 0
Superior Superior 0
RioGrandeRusset RioGrandeRusset 0
PremierRusset PremierRusset 0
Wauseon Wauseon 0
Lenape Lenape 0
