ID_1	 ID_2 	missing
0	0	0
ArirangNo.1	ArirangNo.1	1
ORyun	ORyun	0
PungNong	PungNong	0
HongJiSeul_Psf	HongJiSeul_Psf	0
DaeKwan1-143	DaeKwan1-143	0
SuSeon	SuSeon	1
ArirangNo.2	ArirangNo.2	1
Daekwan2-66	Daekwan2-66	0
Hichip	Hichip	0
Daekwan2-67	Daekwan2-67	1
Daekwan2-68	Daekwan2-68	0
Daekwan2-69	Daekwan2-69	1
Suji	Suji	1
EarlyFri	EarlyFri	0
Jaekyo-P-14	Jaekyo-P-14	0
Jaekyo-P-15	Jaekyo-P-15	4
ManGang	ManGang	2
GangSeon	GangSeon	1
TamNa	TamNa	1
Daekwan1-152	Daekwan1-152	0
Daekwan1-153	Daekwan1-153	1
Daekwan1-158	Daekwan1-158	1
GoldenBall	GoldenBall	0
Daekwan1-159	Daekwan1-159	2
GoldenEgg	GoldenEgg	2
Daekwan1-160	Daekwan1-160	1
Daekwan2-56	Daekwan2-56	0
Daekwan1-139	Daekwan1-139	0
Daekwan2-57	Daekwan2-57	1
Daekwan1-144	Daekwan1-144	0
Daekwan2-58	Daekwan2-58	3
Daekwan1-145	Daekwan1-145	0
Daekwan2-60	Daekwan2-60	1
Daekwan1-146	Daekwan1-146	0
Daekwan2-62	Daekwan2-62	6
Daekwan1-148	Daekwan1-148	0
Daekwan2-63	Daekwan2-63	0
Daekwan1-149	Daekwan1-149	1
Daekwan2-65	Daekwan2-65	0
HongSeon	HongSeon	4
DooBaek	DooBaek	10
Daeji	Daeji	1
JaYoung_Psf	JaYoung_Psf	1
Sepoong	Sepoong	10
SuMi	SuMi	2
JinSeon	JinSeon	4
Gemchip	Gemchip	0
JoWon	JoWon	1
ChuBaek	ChuBaek	3
HongYoung_Psf	HongYoung_Psf	1
JoPoong	JoPoong	1
SeoHong	SeoHong	2
HaRyeong	HaRyeong	4
DaeSeo	DaeSeo	0
GoUn	GoUn	12
SinNamJak	SinNamJak	0
DaeGwang	DaeGwang	0
ChuGang	ChuGang	1
Daekwan1-129	Daekwan1-129	1
NamJak	NamJak	0
NamSeon	NamSeon	0
ChuDong	ChuDong	0
Daekwan2-41	Daekwan2-41	1
ChuYoung	ChuYoung	0
EunSeon	EunSeon	2
BangUl	BangUl	0
SaeBong	SaeBong	0
JeSeo	JeSeo	1
DaMi	DaMi	1
GeumSeon	GeumSeon	0
JungMo9001	JungMo9001	0
Daekwan1-123	Daekwan1-123	2
