ID_1	 ID_2 	missing
0	0	0
ArirangNo.1	ArirangNo.1	7
ORyun	ORyun	0
PungNong	PungNong	0
HongJiSeul_Psf	HongJiSeul_Psf	0
DaeKwan1-143	DaeKwan1-143	0
SuSeon	SuSeon	0
ArirangNo.2	ArirangNo.2	0
Daekwan2-66	Daekwan2-66	0
Hichip	Hichip	0
Daekwan2-67	Daekwan2-67	0
Daekwan2-68	Daekwan2-68	0
Daekwan2-69	Daekwan2-69	0
Suji	Suji	0
EarlyFri	EarlyFri	0
Jaekyo-P-14	Jaekyo-P-14	0
Jaekyo-P-15	Jaekyo-P-15	0
ManGang	ManGang	1
GangSeon	GangSeon	0
TamNa	TamNa	1
Daekwan1-152	Daekwan1-152	5
Daekwan1-153	Daekwan1-153	0
Daekwan1-158	Daekwan1-158	0
GoldenBall	GoldenBall	10
Daekwan1-159	Daekwan1-159	1
GoldenEgg	GoldenEgg	6
Daekwan1-160	Daekwan1-160	7
Daekwan2-56	Daekwan2-56	0
Daekwan1-139	Daekwan1-139	0
Daekwan2-57	Daekwan2-57	0
Daekwan1-144	Daekwan1-144	0
Daekwan2-58	Daekwan2-58	0
Daekwan1-145	Daekwan1-145	0
Daekwan2-60	Daekwan2-60	0
Daekwan1-146	Daekwan1-146	0
Daekwan2-62	Daekwan2-62	1
Daekwan1-148	Daekwan1-148	0
Daekwan2-63	Daekwan2-63	0
Daekwan1-149	Daekwan1-149	0
Daekwan2-65	Daekwan2-65	0
HongSeon	HongSeon	1
DooBaek	DooBaek	6
Daeji	Daeji	2
JaYoung_Psf	JaYoung_Psf	7
Sepoong	Sepoong	9
SuMi	SuMi	1
JinSeon	JinSeon	1
Gemchip	Gemchip	0
JoWon	JoWon	1
ChuBaek	ChuBaek	2
HongYoung_Psf	HongYoung_Psf	1
JoPoong	JoPoong	2
SeoHong	SeoHong	1
HaRyeong	HaRyeong	1
DaeSeo	DaeSeo	0
GoUn	GoUn	7
SinNamJak	SinNamJak	0
DaeGwang	DaeGwang	0
ChuGang	ChuGang	0
Daekwan1-129	Daekwan1-129	1
NamJak	NamJak	0
NamSeon	NamSeon	0
ChuDong	ChuDong	0
Daekwan2-41	Daekwan2-41	0
ChuYoung	ChuYoung	0
EunSeon	EunSeon	0
BangUl	BangUl	0
SaeBong	SaeBong	0
JeSeo	JeSeo	1
DaMi	DaMi	1
GeumSeon	GeumSeon	0
JungMo9001	JungMo9001	0
Daekwan1-123	Daekwan1-123	1
