ID_1	 ID_2 	missing
0	0	0
ArirangNo.1 ArirangNo.1 4
ORyun ORyun 1
PungNong PungNong 0
HongJiSeul_Psf HongJiSeul_Psf 1
DaeKwan1-143 DaeKwan1-143 0
SuSeon SuSeon 4
ArirangNo.2 ArirangNo.2 2
Daekwan2-66 Daekwan2-66 2
Hichip Hichip 0
Daekwan2-67 Daekwan2-67 0
Daekwan2-68 Daekwan2-68 0
Daekwan2-69 Daekwan2-69 0
Suji Suji 1
EarlyFri EarlyFri 5
Jaekyo-P-14 Jaekyo-P-14 1
Jaekyo-P-15 Jaekyo-P-15 2
ManGang ManGang 1
GangSeon GangSeon 0
TamNa TamNa 0
Daekwan1-152 Daekwan1-152 0
Daekwan1-153 Daekwan1-153 1
Daekwan1-158 Daekwan1-158 0
GoldenBall GoldenBall 4
Daekwan1-159 Daekwan1-159 1
GoldenEgg GoldenEgg 0
Daekwan1-160 Daekwan1-160 0
Daekwan2-56 Daekwan2-56 0
Daekwan1-139 Daekwan1-139 2
Daekwan2-57 Daekwan2-57 0
Daekwan1-144 Daekwan1-144 4
Daekwan2-58 Daekwan2-58 2
Daekwan1-145 Daekwan1-145 0
Daekwan2-60 Daekwan2-60 0
Daekwan1-146 Daekwan1-146 0
Daekwan2-62 Daekwan2-62 0
Daekwan1-148 Daekwan1-148 1
Daekwan2-63 Daekwan2-63 0
Daekwan1-149 Daekwan1-149 0
Daekwan2-65 Daekwan2-65 0
HongSeon HongSeon 4
DooBaek DooBaek 7
Daeji Daeji 0
JaYoung_Psf JaYoung_Psf 0
Sepoong Sepoong 13
SuMi SuMi 0
JinSeon JinSeon 0
Gemchip Gemchip 1
JoWon JoWon 0
ChuBaek ChuBaek 3
HongYoung_Psf HongYoung_Psf 5
JoPoong JoPoong 0
SeoHong SeoHong 0
HaRyeong HaRyeong 1
DaeSeo DaeSeo 0
GoUn GoUn 2
SinNamJak SinNamJak 0
DaeGwang DaeGwang 0
ChuGang ChuGang 1
Daekwan1-129 Daekwan1-129 0
NamJak NamJak 2
NamSeon NamSeon 1
ChuDong ChuDong 0
Daekwan2-41 Daekwan2-41 3
ChuYoung ChuYoung 0
EunSeon EunSeon 1
BangUl BangUl 1
SaeBong SaeBong 0
JeSeo JeSeo 0
DaMi DaMi 1
GeumSeon GeumSeon 0
JungMo9001 JungMo9001 2
Daekwan1-123 Daekwan1-123 1
