ID_1	 ID_2 	missing
0	0	0
ArirangNo.1 ArirangNo.1 0
ORyun ORyun 1
PungNong PungNong 0
HongJiSeul_Psf HongJiSeul_Psf 2
DaeKwan1-143 DaeKwan1-143 0
SuSeon SuSeon 0
ArirangNo.2 ArirangNo.2 2
Daekwan2-66 Daekwan2-66 0
Hichip Hichip 0
Daekwan2-67 Daekwan2-67 0
Daekwan2-68 Daekwan2-68 0
Daekwan2-69 Daekwan2-69 0
Suji Suji 0
EarlyFri EarlyFri 0
Jaekyo-P-14 Jaekyo-P-14 1
Jaekyo-P-15 Jaekyo-P-15 0
ManGang ManGang 4
GangSeon GangSeon 0
TamNa TamNa 0
Daekwan1-152 Daekwan1-152 1
Daekwan1-153 Daekwan1-153 0
Daekwan1-158 Daekwan1-158 0
GoldenBall GoldenBall 0
Daekwan1-159 Daekwan1-159 2
GoldenEgg GoldenEgg 0
Daekwan1-160 Daekwan1-160 4
Daekwan2-56 Daekwan2-56 1
Daekwan1-139 Daekwan1-139 5
Daekwan2-57 Daekwan2-57 0
Daekwan1-144 Daekwan1-144 0
Daekwan2-58 Daekwan2-58 0
Daekwan1-145 Daekwan1-145 1
Daekwan2-60 Daekwan2-60 0
Daekwan1-146 Daekwan1-146 0
Daekwan2-62 Daekwan2-62 0
Daekwan1-148 Daekwan1-148 1
Daekwan2-63 Daekwan2-63 1
Daekwan1-149 Daekwan1-149 0
Daekwan2-65 Daekwan2-65 0
HongSeon HongSeon 0
DooBaek DooBaek 0
Daeji Daeji 1
JaYoung_Psf JaYoung_Psf 0
Sepoong Sepoong 7
SuMi SuMi 0
JinSeon JinSeon 1
Gemchip Gemchip 1
JoWon JoWon 0
ChuBaek ChuBaek 0
HongYoung_Psf HongYoung_Psf 0
JoPoong JoPoong 0
SeoHong SeoHong 1
HaRyeong HaRyeong 1
DaeSeo DaeSeo 2
GoUn GoUn 1
SinNamJak SinNamJak 0
DaeGwang DaeGwang 0
ChuGang ChuGang 0
Daekwan1-129 Daekwan1-129 0
NamJak NamJak 0
NamSeon NamSeon 1
ChuDong ChuDong 0
Daekwan2-41 Daekwan2-41 0
ChuYoung ChuYoung 0
EunSeon EunSeon 0
BangUl BangUl 0
SaeBong SaeBong 0
JeSeo JeSeo 1
DaMi DaMi 0
GeumSeon GeumSeon 1
JungMo9001 JungMo9001 0
Daekwan1-123 Daekwan1-123 0
