ID_1	 ID_2 	missing
0	0	0
ArirangNo.1 ArirangNo.1 0
ORyun ORyun 0
PungNong PungNong 0
HongJiSeul_Psf HongJiSeul_Psf 6
DaeKwan1-143 DaeKwan1-143 0
SuSeon SuSeon 0
ArirangNo.2 ArirangNo.2 0
Daekwan2-66 Daekwan2-66 0
Hichip Hichip 5
Daekwan2-67 Daekwan2-67 0
Daekwan2-68 Daekwan2-68 0
Daekwan2-69 Daekwan2-69 6
Suji Suji 8
EarlyFri EarlyFri 1
Jaekyo-P-14 Jaekyo-P-14 0
Jaekyo-P-15 Jaekyo-P-15 2
ManGang ManGang 0
GangSeon GangSeon 0
TamNa TamNa 0
Daekwan1-152 Daekwan1-152 0
Daekwan1-153 Daekwan1-153 0
Daekwan1-158 Daekwan1-158 1
GoldenBall GoldenBall 1
Daekwan1-159 Daekwan1-159 0
GoldenEgg GoldenEgg 0
Daekwan1-160 Daekwan1-160 0
Daekwan2-56 Daekwan2-56 6
Daekwan1-139 Daekwan1-139 0
Daekwan2-57 Daekwan2-57 0
Daekwan1-144 Daekwan1-144 0
Daekwan2-58 Daekwan2-58 0
Daekwan1-145 Daekwan1-145 0
Daekwan2-60 Daekwan2-60 0
Daekwan1-146 Daekwan1-146 2
Daekwan2-62 Daekwan2-62 0
Daekwan1-148 Daekwan1-148 0
Daekwan2-63 Daekwan2-63 6
Daekwan1-149 Daekwan1-149 1
Daekwan2-65 Daekwan2-65 0
HongSeon HongSeon 1
DooBaek DooBaek 1
Daeji Daeji 0
JaYoung_Psf JaYoung_Psf 4
Sepoong Sepoong 10
SuMi SuMi 1
JinSeon JinSeon 1
Gemchip Gemchip 0
JoWon JoWon 2
ChuBaek ChuBaek 0
HongYoung_Psf HongYoung_Psf 8
JoPoong JoPoong 0
SeoHong SeoHong 1
HaRyeong HaRyeong 4
DaeSeo DaeSeo 0
GoUn GoUn 2
SinNamJak SinNamJak 1
DaeGwang DaeGwang 9
ChuGang ChuGang 0
Daekwan1-129 Daekwan1-129 0
NamJak NamJak 0
NamSeon NamSeon 0
ChuDong ChuDong 0
Daekwan2-41 Daekwan2-41 4
ChuYoung ChuYoung 0
EunSeon EunSeon 0
BangUl BangUl 4
SaeBong SaeBong 1
JeSeo JeSeo 4
DaMi DaMi 1
GeumSeon GeumSeon 0
JungMo9001 JungMo9001 0
Daekwan1-123 Daekwan1-123 1
