ID_1	 ID_2 	missing
0	0	0
ArirangNo.1 ArirangNo.1 0
ORyun ORyun 2
PungNong PungNong 0
HongJiSeul_Psf HongJiSeul_Psf 0
DaeKwan1-143 DaeKwan1-143 0
SuSeon SuSeon 0
ArirangNo.2 ArirangNo.2 1
Daekwan2-66 Daekwan2-66 0
Hichip Hichip 0
Daekwan2-67 Daekwan2-67 2
Daekwan2-68 Daekwan2-68 1
Daekwan2-69 Daekwan2-69 0
Suji Suji 0
EarlyFri EarlyFri 0
Jaekyo-P-14 Jaekyo-P-14 0
Jaekyo-P-15 Jaekyo-P-15 0
ManGang ManGang 0
GangSeon GangSeon 0
TamNa TamNa 0
Daekwan1-152 Daekwan1-152 0
Daekwan1-153 Daekwan1-153 0
Daekwan1-158 Daekwan1-158 0
GoldenBall GoldenBall 0
Daekwan1-159 Daekwan1-159 0
GoldenEgg GoldenEgg 0
Daekwan1-160 Daekwan1-160 0
Daekwan2-56 Daekwan2-56 0
Daekwan1-139 Daekwan1-139 0
Daekwan2-57 Daekwan2-57 0
Daekwan1-144 Daekwan1-144 1
Daekwan2-58 Daekwan2-58 0
Daekwan1-145 Daekwan1-145 0
Daekwan2-60 Daekwan2-60 1
Daekwan1-146 Daekwan1-146 0
Daekwan2-62 Daekwan2-62 0
Daekwan1-148 Daekwan1-148 0
Daekwan2-63 Daekwan2-63 0
Daekwan1-149 Daekwan1-149 0
Daekwan2-65 Daekwan2-65 2
HongSeon HongSeon 0
DooBaek DooBaek 5
Daeji Daeji 0
JaYoung_Psf JaYoung_Psf 0
Sepoong Sepoong 3
SuMi SuMi 0
JinSeon JinSeon 0
Gemchip Gemchip 0
JoWon JoWon 0
ChuBaek ChuBaek 0
HongYoung_Psf HongYoung_Psf 2
JoPoong JoPoong 0
SeoHong SeoHong 0
HaRyeong HaRyeong 3
DaeSeo DaeSeo 0
GoUn GoUn 0
SinNamJak SinNamJak 0
DaeGwang DaeGwang 1
ChuGang ChuGang 0
Daekwan1-129 Daekwan1-129 2
NamJak NamJak 0
NamSeon NamSeon 1
ChuDong ChuDong 0
Daekwan2-41 Daekwan2-41 0
ChuYoung ChuYoung 1
EunSeon EunSeon 0
BangUl BangUl 0
SaeBong SaeBong 0
JeSeo JeSeo 1
DaMi DaMi 0
GeumSeon GeumSeon 0
JungMo9001 JungMo9001 0
Daekwan1-123 Daekwan1-123 0
